body {
    font-family: 'Trebuchet Ms', Verdana, Arial, sans-serif;
    padding: 1em 4em 4em 4em;
}

h1, h2, h3 {
    padding: 0.2em;
    background-color: #cce699;
    border-bottom: solid 4px #5c7a1f;
}

h1 {
    font-size: 1.6em;
}

a {
    color: #5c7a1f;
}

.error {
    color: #8b0000;
}