<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:val="http://sourceforge.net/projects/html5valdialect">
    <head>
        <title>HTML5 validation dialect example</title>
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>HTML5 validation dialect example</h1>
        <p>
            If your browser does not trigger HTML5 validation for all fields, try using Google Chrome.
        </p>
        <form th:action="@{/userSave.do}" th:object="${userFormBean}" val:validate="${userFormBean}" method="post">
            <p>
                <label for="username">E-mail</label>
                <input type="text" id="username" th:field="*{username}" />
                (Type a valid e-mail)
                <p th:if="${#fields.hasErrors('username')}" class="error">Not a valid e-mail</p>
            </p>
            <p>
                <label for="code">Code</label>
                <input type="text" id="code" th:field="*{code}" />
                (Type between 5 and 10 chars)
                <p th:if="${#fields.hasErrors('code')}" class="error">Not between 5 and 10 chars</p>
            </p>
            <p>
                <label for="age">Age</label>
                <input type="text" id="age" th:field="*{age}" />
                (Type a number between 18 and 100)
                <p th:if="${#fields.hasErrors('age')}" class="error">Not a number between 18 and 100</p>
            </p>
            <p>
                <label for="highSchoolMark">Mark</label>
                <input type="text" id="highSchoolMark" th:field="*{highSchoolMark}" />
                (Type a number between 0 and 10)
                <p th:if="${#fields.hasErrors('highSchoolMark')}" class="error">Not a number between 0 and 10</p>
            </p>
            <p>
                <label for="personalWebPage">Personal Web Page</label>
                <input type="text" id="personalWebPage" th:field="*{personalWebPage}" />
                (Type a valid URL)
                <p th:if="${#fields.hasErrors('personalWebPage')}" class="error">Not a valid URL</p>
            </p>
            <p>
                <label for="price">Fall enroll price</label>
                <input type="text" id="price" th:field="*{price}" />
                (Type a number between 0 and 999 with a maximum of 2 decimals)
                <p th:if="${#fields.hasErrors('price')}" class="error">Not a number between 0 and 999 with a maximum of 2 decimals</p>
            </p>
            <p>
                <label for="phoneNumber">Phone number</label>
                <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" />
                (Type a phone number formatted like ###-######)
                <p th:if="${#fields.hasErrors('phoneNumber')}" class="error">Not a phone number format (###-######)</p>
            </p>
            <input type="submit" />
        </form>
    </body>
</html>
