<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HTML5 validation dialect example</title>
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>HTML5 validation dialect example</h1>
        <p>
            <span>E-mail:</span>
            <span th:text="${userFormBean.username}">john.doe@gmail.com</span>
        </p>
        <p>
            <span>Code:</span>
            <span th:text="${userFormBean.code}">AZ12345</span>
        </p>
        <p>
            <span>Age:</span>
            <span th:text="${userFormBean.age}">32</span>
        </p>
        <p>
            <span>Mark:</span>
            <span th:text="${userFormBean.highSchoolMark}">8</span>
        </p>
        <p>
            <span>Personal Web Page:</span>
            <span th:text="${userFormBean.personalWebPage}">8</span>
        </p>
        <p>
            <span>Fall enroll price:</span>
            <span th:text="${userFormBean.price}">143.34</span>
        </p>
        <p>
            <span>Phone number:</span>
            <span th:text="${userFormBean.phoneNumber}">666-666666</span>
        </p>
        <p>
            <a th:href="@{/}">Back</a>
        </p>
    </body>
</html>
