<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:val="http://html5valdialect.sourceforge.net">
    <head>
        <title>HTML5 Validation dialect</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>HTML5 Validation dialect</h1>
        <form val:validate="${allConstraintsBean}" method="post">
            <p>
                <label for="min10Max200Field">min10Max200Field</label>
                <input type="text" name="min10Max200Field" id="min10Max200Field" />
            </p>
            <th:block th:include="fragments/subForm.html :: subForm(${allConstraintsBean})" />

            <input type="submit" />
        </form>
    </body>
</html>
