<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:pages="http://www.thymeleaf.org/pagesdialect">
    <head>
        <title>HTML5 validation dialect example</title>
        <link rel="stylesheet" href="../../main.css" th:href="@{/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>HTML5 validation dialect example</h1>
        <p>
            If your browser does not trigger HTML5 validation, try using Google Chrome.
        </p>
        <form action="userSave.do" val:validate="${user}" method="post">
            <p>
                <label for="username">E-mail</label>
                <input type="text" name="username" id="username" />
                (Type a valid e-mail)
            </p>
            <p>
                <label for="code">Code</label>
                <input type="text" name="code" id="code" />
                (Type between 5 and 10 chars)
            </p>
            <p>
                <label for="age">Age</label>
                <input type="text" name="age" id="age" />
                (Type a number between 18 and 100)
            </p>
            <p>
                <label for="highSchoolMark">Mark</label>
                <input type="text" name="highSchoolMark" id="highSchoolMark" />
                (Type a number between 0 and 10)
            </p>
            <p>
                <label for="personalWebPage">Personal Web Page</label>
                <input type="text" name="personalWebPage" id="personalWebPage" />
                (Type a valid URL)
            </p>
            <input type="submit" />
        </form>
    </body>
</html>
