<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:pages="http://www.thymeleaf.org/pagesdialect">
    <head>
        <title>HTML5 validation dialect example</title>
        <link rel="stylesheet" href="../../main.css" th:href="@{/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>HTML5 validation dialect example</h1>
        <p>
            <span>E-mail:</span>
            <span th:text="${user.username}">john.doe@gmail.com</span>
        </p>
        <p>
            <span>Code:</span>
            <span th:text="${user.code}">AZ12345</span>
        </p>
        <p>
            <span>Age:</span>
            <span th:text="${user.age}">32</span>
        </p>
        <p>
            <span>Mark:</span>
            <span th:text="${user.highSchoolMark}">8</span>
        </p>
        <p>
            <span>Personal Web Page:</span>
            <span th:text="${user.personalWebPage}">8</span>
        </p>
        <p>
            <a th:href="@{/}">Back</a>
        </p>
    </body>
</html>
